* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* scrollbar stuf */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgba(241, 241, 241, 0);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background-color: rgb(165, 165, 165);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #8f8f8f;
}
